.map-view
    position: absolute
    top: $menu_height + $status_bar_height
    bottom: 0
    left: 0
    right: 0
    z-index: -1
    &.active
        z-index: 0

.map-canvas
    width: 100%
    position: absolute
    top: 0
    bottom: $footer_height

.map-controls

    .lower-container
        position: absolute
        bottom: 0
        text-align: center
        width: 100%

        .trashcan-found
            color: white
            background: none
            border: none
