//------------------------------------------------------------------------------
// Siirretään päänäkymä sivuun kun valikko on aktiivinen
//------------------------------------------------------------------------------

$menu_width: 200px

body
  position: absolute
  +transition-property(right)
  +transition-duration(0.5s)
  &.menu-active
    right: $menu_width

.main-navigation

  .navbar
    background: lighten($light_green, 10%)
    border-bottom: 1px solid desaturate(lighten($dark_green, 20%), 60%)
    font-weight: bold
    font-size: 1.2em
    height: $menu_height

  .back-icon
    +menu-icon
    float: left
    display: none

  .menu-icon
    +menu-icon
    float: right

  .main-menu
    +box-sizing(border-box)
    background: $dark_brown
    color: $almost_white
    list-style: none
    margin: 0
    padding: 25px
    position: absolute
    top: $status_bar_height
    bottom: 0
    right: -$menu_width
    width: $menu_width
    display: none
    .menu-active &
      display: block

    li
      padding-bottom: 5px

