.search-view
    position: absolute
    bottom: 20%
    text-align: center
    width: 100%

.search-button
    background: $background
    border: 1px solid white
    +border-radius(5px)
    color: white
    font-size: 1.8em
    &:focus
        background: red
        outline: none
