.search-view
    position: absolute
    bottom: 20%
    text-align: center
    width: 100%
    z-index: -1
    &.active
        z-index: 0

.search-button
    background: $teal
    border: 1px solid white
    +border-radius(5px)
    color: white
    font-size: 32px
    font-weight: 100
    padding: 10px 20px
    &:focus
        background: lighten($teal, 10%)
        outline: none
