//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$dark_green: #75B800
$light_green: #A1BF60
$dark_brown: #281C04
$almost_white: #F1EDD4
$blue: #0064B8

$background: $almost_white

//------------------------------------------------------------------------------
// Measurements
//------------------------------------------------------------------------------

$status_bar_height: 20px
$menu_height: 60px
$footer_height: 60px

//------------------------------------------------------------------------------
// Mixins
//------------------------------------------------------------------------------

@mixin menu-icon
  padding: $menu_height / 3
  height: 100%
