//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$dark_green: #405824
$medium_brown: #99894E
$yellow: #FFD475
$light_green: #889871
$teal: #4F6864

$background: #eceeee

//------------------------------------------------------------------------------
// Measurements
//------------------------------------------------------------------------------

$status_bar_height: 20px
$menu_height: 60px
$footer_height: 60px

//------------------------------------------------------------------------------
// Mixins
//------------------------------------------------------------------------------

@mixin menu-icon
    padding: $menu_height / 3
    height: 100%
