$icon-font-path: "/bower_components/sass-bootstrap/fonts/"

@import 'variables'
@import 'compass'
@import 'leaflet'
@import 'markers'
@import 'menu'
@import 'search'
@import 'map'

*
    +box-sizing(border-box)

html, body
    background: $light_green
    margin: 0
    width: 100%
    height: 100%

body
    padding-top: $status_bar_height

#compass-view
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.compass-needle
    font:
        size: 140px
        weight: bold
    color: #bada55
    line-height: 1em
    height: 150px
    width: 150px
    display: inline-block
    text-align: center

    position: absolute
    top: 50%
    left: 50%
    margin-top: -75px
    margin-left: -75px

    +transform-origin(50%, 50%)
    +translateZ(0)
