<div class="quest-completion">
    <p class="success-message">
        Onneksi olkoon!
    </p>
    <p class="points-message">
         Sait {{points}} pistettä.
    </p>
    <a href="" class="restart-button">Aloita uudelleen</a>
</div>
