<div class="quest-completion">
    <p class="success-message">
        Tehtävä suoritettu!
    </p>
    <p class="points-message">
         Sait <span class="points">{{points}}</span> pistettä.
    </p>
    <a href="" class="restart-button">Aloita uudelleen</a>
</div>
