<div class="navbar">
    <div id="back-icon" class="back-icon">←</div>
    <div id="menu-icon" class="menu-icon">☰</div>
</div>
<ul class="main-menu" id="main-menu">
    {{#with currentUser}}
        <li>{{name}}</li>
        <li>{{points}}</li>
    {{/with}}
    <ol>
    {{#each topUsers}}
        <li>{{name}}<br>{{points}}</li>
    {{/each}}
    </ol>
</ul>
