<div class="navbar">
    <div id="back-icon" class="back-icon">←</div>
    <div id="menu-icon" class="menu-icon">☰</div>
</div>
<ul class="main-menu" id="main-menu">
    <li>{{name}}</li>
    <li>{{points}}</li>
    <li><a href="#">Takaisin</a></li>
</ul>
