<div class="navbar">
    <div id="back-icon" class="back-icon">←</div>
    <div id="menu-icon" class="menu-icon">☰</div>
</div>

<div class="main-menu">
    <ul id="main-menu">
        {{#with currentUser}}
            <li>{{name}}</li>
            <li>{{points}}</li>
        {{/with}}
    </ul>
    <ol class="top-players">
    {{#each topUsers}}
        <li class="player">
            <span class="name">{{name}}</span>
            <span class="points">{{points}}</span>
        </li>
    {{/each}}
    </ol>
</div>
