<div class="upper-container">

</div>
<div class="lower-container">
    {{#if found}}
        <button class="trashcan-found" id="trashcan-found">Valmis!</button>
    {{else}}
        <div id="distance">Etäisyys kohteeseen: {{distance}} metriä</div>
    {{/if}}
</div>
