<div class="register-info">
    <p>Löydä lähin roskakori,<br />pidä kaupunki puhtaana ja kerää pisteitä!</p>
</div>
<small class="input-info">Aloittamiseen tarvitsemme vain käyttäjänimesi.</small>
<input type="text" id="username" placeholder="Valitse käyttäjänimi...">
<button id="submit-user">Rekisteröidy</button>
