<div class="register-info">
    <p><span class="first-line">Löydä lähin roskakori,</span>pidä kaupunki puhtaana ja kerää pisteitä!</p>
</div>
<button class="search-button" id="search-button">Aloita tehtävä!</button>
